<p>@ViewBag.Message</p>
@if (Model.Questions != null && Model.Questions.Count > 0)
{
    <div>
        <table>
            <tr>
                <th>
                    Message
                </th>
                <th>
                    Answer
                </th>
            </tr>
            @foreach (var item in Model.Questions)
            {
                <tr>
                    <td>                    
                        @item.Message
                    </td>
                    <td>
                        @item.Answer
                    </td>
                </tr>
            }
        </table>
    </div>
}
