@model IEnumerable<AnyDoubts.Domain.Model.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ask me anything</h2>

@using (Html.BeginForm())
{ 
<p>    
    @Html.TextArea("question")
</p>
<p>
    <input type="submit" name="Send" id="send" value="Send" />
</p>
}
@if (ViewBag.Message != null)
{ 
    <p>@ViewBag.Message</p>
}
else
{ 
<table>
    <tr>       
        <th>
            Message
        </th>
        <th>
            Answer
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Message
        </td>
        <td>
            @item.Answer
        </td>
    </tr>
}

</table>   
}

