@model AnyDoubts.Web.ViewModels.Profile
@{
    ViewBag.Title = "Index";    
}
<h2>
    Ask me anything</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "A criação da conta não foi bem sucedida. Por favor, corrija os erros e tente novamente.")
    <div>
        <div class="editor-label">
            Pergunte-me o que quiser
        </div>
        <div class="editor-field">
            <textarea id="question"></textarea>
        </div>
        <p>
            <input type="submit" value="Enviar" />
        </p>
    </div>
}
<div>
    @Html.Partial("_Questions")
</div>
