@{
    ViewBag.Title = "AnyDoubts - Colaboradores";
}
<h2>Colaboradores</h2>

<strong>Commiters</strong>
<p>
    Tiago Sciência - <a href="http://twitter.com/_caco" target="_blank">@@_caco</a>
    <br />
    Thiago Temple - <a href="http://twitter.com/vintem12" target="_blank">@@vintem12</a>
    <br />
</p>