@{
    ViewBag.Title = "AnyDoubts - Colaboradores";
}
<h2>Colaboradores</h2>

<p>
    <strong>Tiago Sciência</strong> - <a href="http://twitter.com/_caco" target="_blank">@@_caco</a>
    <br />
    <strong>Thiago Temple</strong> - <a href="http://twitter.com/vintem12" target="_blank">@@vintem12</a>
    <br />
    <strong>Danilo Valente</strong> - <a href="http://twitter.com/valentedanilo" target="_blank">@@valentedanilo</a>    
</p>