@{
    ViewBag.Title = "AnyDoubts - Home";
}
<div>
    <b>JOIN ANYDOUBTS</b>
</div>
<br />
<div>
    AnyDoubts lets you share personal and interesting responses with people you know.
</div>
<br />
<div>
    <b>@Html.ActionLink("Sign up", "SignUp", "Account")</b>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21021563-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
