@{
    ViewBag.Title = "AnyDoubts - Home";
}

@inherits System.Web.Mvc.WebViewPage<IList<AnyDoubts.Domain.Model.Question>>

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm())
{ 
<p>    
    @Html.TextArea("question")
</p>
<p>
    <input type="submit" name="Send" id="send" value="Send" />
</p>
}

<ul>        
    @foreach(var q in Model) {
    <li>
        Pergunta: @Html.Label(q.Message) - Resposta:  @Html.Label(q.Answer)
    </li>
    }
</ul>