@{
    ViewBag.Title = "Kanban";
}

<h2>Acompanhe o andamento do Projeto AnyDoubts</h2>

<center>
    <table width="800px">
        <tr>
            <td width="33%" align="center"><b>ToDo</b></td>
            <td width="33%" align="center"><b>Doing</b></td>
            <td width="33%" align="center"><b>Done</b></td>
        </tr>
        <tr>
            <td valign="top" align="left" >
                # Responder a perguntas #<br />
                # Criar conta de usuário #<br />
                # Listar as perguntas do usuario #<br />
                # Alterar o perfil da conta #<br />
                # Enviar emails #<br />
                # Compartilhar respostas no twitter #<br />
                # Criar recurso de RSS #
            </td>
            <td valign="top" align="left" >
        
            </td>
            <td valign="top" align="left" >
                # Fazer perguntas #<br />            
            </td>
        </tr>
    </table>
</center>