@{
    ViewBag.Title = "AnyDoubts - Sobre";
}
<h2>
    Sobre</h2>
<p>
    O AnyDoubts é um projeto <strong>open source</strong> que tem por objetivo o aprendizado
    do padrão MVC3. Durante o seu desenvolvimento será abordado um pouco sobre arquitetura
    de projetos e boas práticas de design. O seu desenvolvimento se fará com a utilização
    de TDD, Mocks, Jquery e, serão implementados alguns recursos como por exemplo envio
    de emails, RSS e integração com o twitter, que são comumente utilizados em aplicações
    web. Dessa forma veremos como construir uma aplicação web do início ao fim.
</p>
<p>
    Você pode acompanhar alguns passos do desenvolvimento deste projeto no blog <a href="http://code4dev.wordpress.com/">
        Code4dev</a>.
</p>
